body{
    margin: 0 auto;
    font-family: sans-serif;
    cursor: default;
}

.all{
    display: flex;
    height: 100vh;
}

.nav{
    background-color: #051622;
    width: 20%;
    height: 100%;
    color: white;
    text-align: center;
    position: fixed;
    height: 100vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigasi a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-size: 20px;
}

.navigasi a:hover{
    background-color: #1BA098;
}

.nav h3{
    font-size: 25px;
    margin-top: 30px;
}

.sosmed{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.sosmed a{
    padding: 0;
    border-radius: 5px;
}

.sosmed img{
    width: 30px;
    height: 30px;
    opacity: 0.7;
}

.sosmed img:hover{
    opacity: 1;
}

.icon{
    display: none;
}

.main{
    position: relative;
    width: 80%;
    left: 20%;
}

.photo{
    width: 100%;
    background-image: url(background.jpg);
    height: 550px;
    background-size: cover;
}

.photo img{
    width: 100%;
    height: 550px;
    position: absolute;
}

.foto{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 3px;
    position: relative;
    width: 35%;
    left: 33%;
    top: 34px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.foto img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    
}

.foto h1{
    color: white;
    position: relative;
    font-size: 50px;
    font-weight: bold;
    margin-top: 40px;
}

.personal{
    position: absolute;
    width: 100%;
}

.personal-profile{
    background-color: white;
    padding: 20px;
}

.personal-profile h3{
    color: #1D2228;
    font-size: 30px;
    text-decoration: underline #1BA098 solid 3px;
}

.personal-profile p{
    font-size: 20px;
    text-align: justify;
    text-indent: 40px;
    width: 100%;
}

.pendidikan{
    background-color: #E6E2DD;
    padding: 20px;
}

.pendidikan p{
    font-size: 20px;
    text-align: justify;
    text-indent: 40px;
    width: 100%;
}

.pendidikan h3{
    font-size: 25px;
    border-top: 2px solid #1BA098;
    padding-top: 20px;
    padding-left: 75px;
}

.pendidikan #short{
    display: none;
}

.pendidikan a{
    margin-left: 200px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.pendidikan a:hover{
    color: #1BA098;
}

.sk{
    padding: 20px;
    padding-top: -10px;
    margin-bottom: -40px;
}

.sk h3{
    color: #1D2228;
    font-size: 30px;
    text-decoration: underline #1BA098 solid 3px;
    margin-top: 20px;
}

.skill{
    display: flex;
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
}

.skill img{
    height: 300px;
    width: 300px;
    border: 2px solid #051622;
}

.skill h3{
    display: none;
}

.myskill{
    width: 100%;
    margin-left: -10px;
}

.myskill h3{
    font-size: 20px;
    margin-left: 40px;
    margin-top: 7px;
    padding-bottom: 10px;
    font-weight: bold;
    display: flex;
}

.myskill span{
    width: 180px;
    height: 12px;
    margin-top: 6px;
    margin-left: 60px;
    background-color: #051622;
    border-radius: 50px;
    display: block;
    font-size: 0px;
}

#Dcolor{
    background-color: #1BA098;
}

/* first skill */
.pth span{
    margin-left: 58px;
    width: 135px;
}

.jav span{
    margin-left: 82px;
    width: 144px;
}

.html span{
    margin-left: 71px;
    width: 144px;
}

.css span{
    margin-left: 85px;
    width: 162;
}

.js span{
    margin-left: 25px;
    width: 108px;
}

.sql span{
    margin-left: 85px;
    width: 90px;
}


/* second skill */
.unity span{
    margin-left: 126px;
    width: 90px;

}

.pts span{
    margin-left: 72px;
    width: 108px;
}

.com span{
    margin-left: 25px;
    width: 126px;
}

.eng span{
    margin-left: 104px;
    width: 144px;
}

.lead span{
    margin-left: 69.5px;
    width: 162px;
}

.cr span{
    margin-left: 97.5px;
    width: 162px;
}

.pengalaman{
    background-color: #E6E2DD;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 25px;
}

.pengalaman h3{
    color: #1D2228;
    font-size: 30px;
    text-decoration: underline #1BA098 solid 3px;
}

.pengalaman li{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.pengalaman a{
    color: black;
    text-decoration: none;
}

.pengalaman a:hover{
    color: #1BA098;
}

.pengalaman p{
    font-size: 20px;
    font-weight: bold;
    text-indent: 20px;
}

#kasir:hover{
    color: black;
}

#program{
    color: black;
}

#pad1{
    padding-top: 20px;
}

#GUI{
    color: black;
}

#ket{
    color: black;
}

#rentalbus{
    font-size: 20px;
    margin-left: 30px;
}

.organisasi{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 25px;
    background-color: white;
}

.organisasi h3{
    color: #1D2228;
    font-size: 30px;
    text-decoration: underline #1BA098 solid 3px;
}

.OE{
    font-weight: bold;
    display: flex;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.OE li{
    margin-bottom: 20px;
}

.OE a{
    text-decoration: none;
    color: black;
}

.OE a:hover{
    color: #1BA098;
}

.OE #kedua{
    margin-left: 150px;
}

.OE #satu{
    display: none;
}

.training{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 25px;
    background-color: #E6E2DD;
}

.training h3{
    color: #1D2228;
    font-size: 30px;
    text-decoration: underline #1BA098 solid 3px;
}

.training li{
    margin-bottom: 20px;
}

.training a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.training a:hover{
    color: #1BA098;
}

.ACHIEVEMENT{
    width: 100%;
    background-color: #09263b;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ACHIEVEMENT h3{
    text-align: left;
    color: white;
    font-size: 30px;
    text-decoration: underline #1BA098 solid 3px;
}

#sertifikat{
    margin-left: 20px;
}


.srt{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 20px;
}

#lanjutan{
    padding-left: 24px;
}

.srt img{
    width: 240px;
    height: auto;
    box-shadow: 10px 10px #051622;
}

.srt img:hover{
    box-shadow: none;
    position: relative;
    top: 5px;
    left: 10px;
}


.popup-image{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    
    /* intinya */
    display: none;
}

.popup-image span{
    position: absolute;
    top: 10px;
    right: 70px;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.popup-image img{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 750px;
}

#more{
    display: none;
}


.tombol{
    text-align: center;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 35px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.footer{
    display: none;
    background-color: #051622;
    justify-content: center;
}

#bottom{
    font-size: 20px;
    color: white;
    margin-right: 20px;
}

.bt a{
    padding: 0;
    border-radius: 5px;
}

.bt img{
    width: 30px;
    height: 30px;
    opacity: 0.7;
    margin-top: 15px;
    margin-left: 10px;
}

.bt img:hover{
    opacity: 1;
}